@model WebCrud.Models.Produto

@{
    ViewData["Title"] = "Cadastrar";
}


<h1 class="text-center mt-3">Cadastrar</h1>

<h4 class="text-center">Produto</h4>
<hr>
<div class="d-flex justify-content-center align-items-center" style="min-height: 65vh;">
    <div class="bg-dark text-white rounded p-5 shadow d-flex justify-content-center align-items-center" style="width: 50%;">
        <div class="col-md-8">
            <form asp-action="Cadastrar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group text-center">
                    <label asp-for="Prodid" class="control-label"></label>
                    <input asp-for="Prodid" class="form-control" />
                    <span asp-validation-for="Prodid" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <label asp-for="Prodnome" class="control-label"></label>
                    <input asp-for="Prodnome" class="form-control" />
                    <span asp-validation-for="Prodnome" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <label asp-for="Proddescr" class="control-label"></label>
                    <input asp-for="Proddescr" class="form-control" />
                    <span asp-validation-for="Proddescr" class="text-danger"></span>
                </div>
                <div class="form-group text-center mt-3">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
